/* globals.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.create-team-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto; /* Center the container */
  width: 90%; /* Full width with margins for mobile */
  max-width: 600px; /* Set a max width for larger screens */
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the title */
}

h2 {
  margin: 10px 0;
  color: #555;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px; /* Slightly larger text */
}

input[type="checkbox"] {
  margin-right: 10px;
}

.label {
  display: flex;
  align-items: center;
}

.user-list {
  max-height: 150px;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #218838;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
  margin-top: 10px;
}

.team-card {
  width: 100%; /* Full width on mobile */
  max-width: 300px; /* Limit width for larger screens */
  padding: 20px;
  margin: 10px auto; /* Center cards on mobile */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background-color: #fff; /* Add background color */
}

.team-card ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0;
  list-style-type: none;
}

.team-card li {
  padding: 5px 0;
  text-align: left; /* Align text to the left */
}

/* Media Queries for responsiveness */
@media (max-width: 600px) {
  h1 {
      font-size: 2rem; /* Smaller font size on mobile */
  }
  
  .create-team-container {
      padding: 15px; /* Less padding on mobile */
  }

  .team-card {
      width: 90%; /* Full width on mobile */
      max-width: none; /* Remove max width */
  }
}
